### IntelliJ IDEA ###
.idea/
*.iml
out/
gen/

### Compiled Class Files ###
*.class

### Exported Bills ###
src/Bill/*.pdf

### Temp/Misc ###
tash list
.DS_Store

### Others ###
bin/
target/
.vscode/
.settings/
.project
.classpath